<div id="<%= dom_id ceremony_part %>">
  <p>
    <strong>Ceremony:</strong>
    <%= ceremony_part.ceremony_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= ceremony_part.title %>
  </p>

  <p>
    <strong>External url:</strong>
    <%= ceremony_part.external_url %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= ceremony_part.notes %>
  </p>

</div>
